{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

    <link rel="stylesheet" href="{% static 'css/map.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Map</title>
  </head>
  <body>
    <div class="grid">
      <div id = "title" class="row">
        <div class="col">
          <h1 class="display-1" align="center">Earthquake Map</h1>
        </div>
      </div>
      <div class="row">
        <div class="col" align="center">
          <div id = "map" style="height: 750px; width: 90%"></div>
        </div>
      </div>
    </div>
    <script>
      function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.place) {
          layer.bindPopup(feature.properties.place + "<br>Magnitude: " + feature.properties.mag);
        }
      }

      var quakes = $.ajax({
        url:"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson",
        dataType: "json",
        success: console.log("Data successfully loaded."),
        error: function (xhr) {
          alert(xhr.statusText)
        }
      })

      $.when(quakes).done(function() {
        var map = L.map('map', {
          minZoom: 3
        });
        L.tileLayer('https://api.maptiler.com/maps/hybrid/{z}/{x}/{y}.jpg?key=yGKLWfmwLwdWW69PecgS', {
          attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
        }).addTo(map);
        map.setView([0, 0], 0);
        map.setMaxBounds(  [[-90,-180],   [90,180]]  )
        var geolayer = L.geoJSON(quakes.responseJSON, {
          onEachFeature: onEachFeature
        });
        geolayer.addTo(map);
        var baseLayers = {
            "Satellite": map,
        };
        var overlays = {
            "Earthquakes": geolayer,
        };
        L.control.layers(baseLayers, overlays).addTo(map);
      });
    </script>
  </body>
</html>
